{% extends "base.twig" %}

{% block content %}

	<!--    masthead       -->
    <div id="masthead" class="height-home">
        <div class="home-center">
          <div class="vert-mid">
			
            	<div class="container gutter-sm">
				  <div class="row">
	                <div class="col-sm-5 the-pitch">
	                  
	                  {{post.get_field("text_presentation")}}

	                  <div class="find-out-about">
	                    <select class="cs-select cs-skin-overlay">
	                      <option value="" disabled selected>Find out more about</option>
	                      <optgroup label="Find out more about">
	                        <option value="{{post.get_field("service_1_link")}}">{{post.get_field("service_1")}}</option>
	                        <option value="{{post.get_field("service_2_link")}}">{{post.get_field("service_2")}}</option>
	                        <option value="{{post.get_field("service_3_link")}}">{{post.get_field("service_3")}}</option>
	                        <option value="{{post.get_field("service_4_link")}}">{{post.get_field("service_4")}}</option>
	                        <option value="{{post.get_field("service_5_link")}}">{{post.get_field("service_5")}}</option>
	                      </optgroup>
	                    </select>

	                    <style type="text/css">
        							.cs-select .cs-options li:first-child{
        								background-image: url('{{TimberImage(post.get_field('service_1_icon')).src}}');
        							}
        							.cs-select .cs-options li:nth-child(2) {
        								background-image: url('{{TimberImage(post.get_field('service_2_icon')).src}}');
        							}
        							.cs-select .cs-options li:nth-child(3) {
        								background-image: url('{{TimberImage(post.get_field('service_3_icon')).src}}');
        							}
        							.cs-select .cs-options li:nth-child(4) {
        								background-image: url('{{TimberImage(post.get_field('service_4_icon')).src}}');
        							}
        							.cs-select .cs-options li:nth-child(5) {
        								background-image: url('{{TimberImage(post.get_field('service_5_icon')).src}}');
        							}
	                    </style>
	                  </div>
	                </div>

                <div class="col-sm-7 mission">
                  <img src="{{post.thumbnail.src}}" alt="our mission" class="pull-right img-responsive">
                </div>

              </div>
            </div>

          </div>
        </div>
    </div>

	<!--   Clients logos bar       -->
	<div id="logobar" class="yellowPanel">

        <h3 class="logobar_title">WE WORK WITH EXECUTIVES AT</h3>
        <hr class="logobar_break">
        <img class="client-logos img-responsive" src="{{TimberImage(post.get_field('logo_clients')).src}}" alt="client logos">

    </div>

	<!--    meet our coaches       -->
	<div class="section meet-coaches">
        <div class="container gutter-xlg">
          <div class="section-graybar clearfix">
            <div class="title"><a href="/about/coaches">Meet our coaches</a></div>
          </div>
          {% set images = post.get_field('coaches') %}
          <div id="coach-slider">
            <div class="row coaches">
            	{% for image in images %}
	              <div class="col-md-15 coach">
	              	<a href="{{image.alt}}">
	                 <img class="img-coaches" src="{{TimberImage(image.id).get_src|resize(140, 150, 'center')}}" alt="{{image.title}}">
  	                <div class="name">{{image.title}}
  						        {% if image.caption %}<br>
  	                		<span>{{image.caption}}</span>
  	                	{% endif %}
  	                </div>
	               	</a>
	              </div>
	            {% endfor %}
            </div>
          </div>

        </div>
      </div>

      <!--    PUT US TO WORK  -->
      <div class="yellowPanel">

        <img class="img-responsive put-work" src="{{theme.uri}}/images/PUT-US-TO-WORK.png" alt="put us to work">
        <a class="btn button" href="contact">
          <span>LETS GO</span>
        </a>

      </div>
		<!-- Our services  -->
      <div class="section services">
        <div class="container gutter-xlg">
          <div class="section-graybar clearfix">
            <div class="title">Our Services</div>
          </div>
		{% if post.get_field('service_1') %}
          	<div class="service-item">
	          
              	<div class="row">
              		<header class="col-sm-6">
		                <img src="{{TimberImage(post.get_field('service_1_icon')).src}}" alt="icon">
		                <h4 class="title">{{post.get_field("service_1")}}</h4>
              		</header>
            	</div>
        	
          	
          		<div class="row">
	              <p class="col-md-12">{{post.get_field("service_1_description")}}</p>
	            </div>
	            
            	<a href="{{post.get_field("service_1_link")}}" class="btn button read-more">Read More</a>
        	</div>
		{% endif %}
		{% if post.get_field('service_2') %}
          	<div class="service-item">
            	
        		<div class="row">
		            <header class="col-sm-6">
		                <img src="{{TimberImage(post.get_field('service_2_icon')).src}}" alt="icon">
		                <h4 class="title">{{post.get_field("service_2")}}</h4>
		            </header>
            	</div>
        	
           
            	<div class="row">
              		<p class="col-md-12">{{post.get_field("service_2_description")}}</p>
              	</div>
	         
            	<a href="{{post.get_field("service_2_link")}}" class="btn button read-more">Read More</a>
          	</div>
        {% endif %}
		{% if post.get_field('service_3') %}
          	<div class="service-item">
            	
            	<div class="row"> 
	              <header class="col-sm-6">
	                <img src="{{TimberImage(post.get_field('service_3_icon')).src}}" alt="icon">
	                <h4 class="title">{{post.get_field("service_3")}}</h4>
	              </header>      	
            	</div>
	          
           		<div class="row">
              		<p class="col-sm-12">{{post.get_field("service_3_description")}}</p>
              	</div>
	            
            	<a href="{{post.get_field("service_3_link")}}" class="btn button read-more">Read More</a>
          	</div>
        {% endif %}
		{% if post.get_field('service_4') %}
          	<div class="service-item">
            
        		<div class="row">
		            <header class="col-sm-6">
		                <img src="{{TimberImage(post.get_field('service_4_icon')).src}}" alt="icon">
		                <h4 class="title">{{post.get_field("service_4")}}</h4>
		            </header>
            	</div>
        	
            
            	<div class="row">
              		<p class="col-sm-12">{{post.get_field("service_4_description")}}</p>
              	</div>
	            
	            <a href="{{post.get_field("service_4_link")}}" class="btn button read-more">Read More</a>
          	</div>
        {% endif %}
		{% if post.get_field('service_5') %}
          <div class="service-item">
	            
            	<div class="row">
		            <header class="col-sm-6">
		               	<img src="{{TimberImage(post.get_field('service_5_icon')).src}}" alt="icon">
		                <h4 class="title">{{post.get_field("service_5")}}</h4>
		            </header>
	            </div>

        	
        	
        		<div class="row">
          			<p class="col-md-12">{{post.get_field("service_5_description")}}</p>
          		</div>
	           
	            <a href="{{post.get_field("service_5_link")}}" class="btn button read-more">Read More</a>
         	</div>
          {% endif %}
	
        </div>
      </div>
      
       <!--Testimonials -->
      <div class="yellowPanel testimonials">

        <img src="{{theme.uri}}/images/bullhorn.png" alt="icon">
        <h5 class="header">What people are saying about us</h5>

        <div class="container gutter-xxlg">
          <div id="testimonial-slider" class="flexslider">
            <!--    Controls slider       -->
              <nav>
              </nav>
              <ul class="slides coaches">
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_1")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_1")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_1")}}
                    </div>
                      <hr class="testi-break">
                  </div>
                </li>
                {% if post.get_field('testimonial_2') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_2")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_2")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_2")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
               	{% if post.get_field('testimonial_3') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_3")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_3")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_3")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
               	{% if post.get_field('testimonial_4') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_4")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_4")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_4")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
               	{% if post.get_field('testimonial_5') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_5")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_5")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_5")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
                </li>
              </ul>
          </div>
        </div>
        <div class="inThePress">
        	<div class="container">
	        	<h5 class="header">In the Press</h5>
	          <img class="press-logos" src="{{TimberImage(post.get_field('press_logos')).src}}" alt="logos">
	        </div>
        </div>
        
      </div>

{% endblock %}