{% extends "base.twig" %}

{% block content %}

	<div id="{{post.post_type}}">
        <div class="container">
          <div class="row">
          	{% set bgImage = post.get_field('background_image_right_side') %}
			
          	<div class="{% if bgImage %}col-md-10{% else %}col-md-12{% endif %}">	

	          	{% if post.get_thumbnail %}
					<div id="featured-image">
						<img class="page-img" src="{{post.get_thumbnail.get_src|resize(400)}}" />
					</div>
				{% endif %}

				<h1>{{post.title}}</h1>

				{% if post.page_blocks %}
					{% for row in post.get_field('page_blocks') %}

						{% if row.acf_fc_layout == 'block_text' %}
							{{ row.service_text }}
						{% endif %}
						{% if row.acf_fc_layout == 'case_study' %}
							<div class="case-study">
								<h3>case study</h3>
								<h2>{{ row.casestudy_title }}</h2>
								{{ row.casestudy_description }}
								<a href="{{ row.casestudy_link }}" class="btn button case">Read the case study</a>
							</div>
						{% endif %}

						{% if row.acf_fc_layout == 'list_icons' %}
							{% for row_rep in row.row_icon_text %}

								 <div class="service-list">
					            	<div class="row">
							            <div class="col-sm-2">
							               <img class="img-responsive icon" src="{{TimberImage(row_rep.service_icon).src}}"/>
							            </div>
							            <div class="col-sm-10">
							            	<h5 class="service-title">{{ row_rep.service_title }}</h5>
						          			<p class="service-description">{{ row_rep.short_description }}
						          				<a class="service-link" href="{{ row_rep.service_link }}">Read More</a>
						          			</p>
						          		</div> 
							          
						           </div>
						        </div>

							{% endfor %}
						{% endif %}

					{% endfor %}
				{% else %}
					{{post.content}}
				{% endif %}

				{% if post.can_edit %}
				    <a href="{{post.get_edit_url}}">Edit me!</a>
				{% endif %}

          	</div>

        </div>
      </div>
	</div><!-- content -->
	{% if bgImage %}
		<div id="bg-page-img" style="background:url({{TimberImage(bgImage.url).src|resize(300)}}) no-repeat right 150px"></div>
	{% endif %}
	<!--   Clients logos pre Footer       -->
	{% include 'partials/bottom-page.twig' %}

{% endblock %}