{% extends "base.twig" %}

{% block content %}
{% set bgImage = post.get_field('background_image_right_side') %}
	
	<div id="{{post.post_type}}">
       
  		<div class="header-image">	
  			{% if post.get_field('header_image') %}
  				<div class="header-background" style="background-image:url('{{TimberImage(post.get_field('header_image')).src}}')"></div>
			{% endif %}
			<div class="container header-caption">
				<div class="col-md-8">
					<h1>{{post.title}}</h1>
					{% if post.get_field('page_quote') %}
						<blockquote class="header"><p>{{post.get_field('page_quote')}}</p></blockquote>
					{% endif %}
					{% if post.get_field('quote_author') %}
						<p class="author">{{post.get_field('quote_author')}}</p>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="container">
          <div class="row">
          			
				{% if post.get_field('page_blocks') %}
					{% for row in post.get_field('page_blocks') %}

						{% if row.acf_fc_layout == 'block_text' %}
							<div class="page-block col-md-8 text">
								{{ row.service_text }}
							</div>
						{% endif %}

						{% if row.acf_fc_layout == 'case_study' %}
							<div class="page-block col-md-8 case-study"{% if row.case_bg_color %} style="background-color:{{row.case_bg_color}}"{% endif %}>
								<h2 class="case-header">{{ row.case_header }}</h2>
								<h3 class="case-title">{{ row.casestudy_title }}</h3>
								{{ row.casestudy_description }}
								{% if row.casestudy_link %}
									<a href="{{ row.casestudy_link }}" class="btn button case">{{ row.casestudy_link_title }}</a>
								{% endif %}
							</div>
						{% endif %}

						{% if row.acf_fc_layout == 'list_icons' %}
							<div class="page-block col-md-8">
								
								{% for row_rep in row.row_icon_text %}
									 <div class="service-list">
						            	<div class="row">
								            <div class="col-sm-2">

								            	{% if row_rep.service_link %}<a class="service-link" href="{{ row_rep.service_link }}">{% endif %}
								             		<img class="img-responsive icon" src="{{TimberImage(row_rep.service_icon).src}}"/>
												{% if row_rep.service_link %}</a>{% endif %}
								            </div>
								            <div class="col-sm-10">
								            	{% if row_rep.service_link %}<a class="service-link" href="{{ row_rep.service_link }}">{% endif %}
													<h5 class="service-title">{{ row_rep.service_title }}</h5>
												{% if row_rep.service_link %}</a>{% endif %}
							          			<p class="service-description">{{ row_rep.short_description }}</p>
							          		</div> 
								          
							           </div>
							        </div>
								{% endfor %}

							</div>
						{% endif %}

					{% endfor %}
				{% else %}
					{{post.content}}
				{% endif %}

				{% if post.can_edit %}
				    <a class="edit" href="{{post.get_edit_url}}">Edit me!</a>
				{% endif %}
        </div>
      </div>

	</div><!-- page -->

	{% if childpages %}
		<div class="related-pages">
			<div class="container">
				<h3 class="other-header">Related pages</h3>
				<ul class="other-pages-list">
					{{ childpages }}
				</ul>
			</div>
		</div>
	{% endif %}	

	{% include 'partials/bottom-page.twig' %}
	<!--   Clients logos pre Footer       -->

{% endblock %}