{% extends "base.twig" %}

{% block content %}

	<!--    masthead       -->
    <div id="masthead" class="height-home">
        <div class="home-center">
          <div class="vert-mid">
			
            	<div class="container gutter">
				        <div class="row">
                    {% for landing_rep in post.get_field('landing_rep') %}
  	                  <h2 class="line">{{ landing_rep.Landing_copy }}</h2>
                    {% endfor %}
                </div>
                <div class="row">
	                  <div class="find-out-about">
                      <h3 class="hidden-xs">{{post.get_field("text_presentation")}}</h3>
                      <a class="btn button services" href="services">
                        <span>explore our services</span>
                      </a>
	                  </div>
                </div>

            </div>

          </div>
        </div>
    </div>

  	<!--   Clients logos bar       -->
  	<div id="logobar" class="greyPanel">        
        <div class="container gutter">

          {% set logos = options.client_logos %}
          <div id="logo-slider" class="flexslider">
            <ul class="slides">
                {% for image in logos %}
                  <li class="client-logo">          
                    <img class="img-logo" src="{{TimberImage(image.id).get_src|resize(300)}}" alt="{{image.title}}">
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>

    </div>

		<!-- Our services  -->
      <div class="section services">
        <div class="container gutter">
          <div class="row">
    		    {% if post.get_field('service_1') %}
              	<div class="col-md-3 service-item">
              		<header>
                    <a href="{{post.get_field("service_1_link")}}">
		                  <img src="{{TimberImage(post.get_field('service_1_icon')).src}}" alt="icon">
		                  <h4 class="title">{{post.get_field("service_1")}}</h4>
                    </a>
              		</header>
            	</div>
    		    {% endif %}
    		    {% if post.get_field('service_2') %}
              	<div class="col-md-3 service-item">
                    <header>
                      <a href="{{post.get_field("service_2_link")}}">
    		                <img src="{{TimberImage(post.get_field('service_2_icon')).src}}" alt="icon">
    		                <h4 class="title">{{post.get_field("service_2")}}</h4>
                      </a>
    		            </header>
              	</div>
            {% endif %}
    		    {% if post.get_field('service_3') %}
              	<div class="col-md-3 service-item">
                    <header>
                      <a href="{{post.get_field("service_3_link")}}">
    	                 <img src="{{TimberImage(post.get_field('service_3_icon')).src}}" alt="icon">
    	                 <h4 class="title">{{post.get_field("service_3")}}</h4>
                      </a>
    	              </header>      	
              	</div>
            {% endif %}

    		    {% if post.get_field('service_4') %}
              	<div class="col-md-3 service-item">
                    <header>
                      <a href="{{post.get_field("service_4_link")}}">
    		                <img src="{{TimberImage(post.get_field('service_4_icon')).src}}" alt="icon">
    		                <h4 class="title">{{post.get_field("service_4")}}</h4>
                      </a>
    		            </header>
                </div>
            {% endif %}
          </div>
        </div>
      </div>

      <!--    our purpose       -->
      <div class="section our-purpose">
          <div class="section-background" style="background-image:url('{{TimberImage(post.get_field('bg_img_purpose')).src}}')"></div>
          <div class="container gutter-xlg">
              {% for copy_purpose in post.get_field('copy_purpose') %}
                  <h2 class="line">{{ copy_purpose.purpose }}</h2>
              {% endfor %}
          </div>
      </div>

      <!-- Our mission  -->
      <div class="section our-mission">
          <div class="container gutter-xlg">
              {% for copy_mission in post.get_field('copy_mission') %}
                  <h2 class="line">{{ copy_mission.mission }}</h2>
              {% endfor %}
          </div>
      </div>
      <!-- Our vision  -->
      <div class="section our-vision">
          <div class="section-background" style="background-image:url('{{TimberImage(post.get_field('bg_img_vision')).src}}')"></div>
          <div class="container gutter-xlg">
              {% for copy_vision in post.get_field('copy_vision') %}
                  <h2 class="line">{{ copy_vision.vision }}</h2>
              {% endfor %}
          </div>
      </div>

      <!-- Our values  -->
      <div class="section our-values">
          <div class="container gutter">
              <h2 class="line">Our Values</h2>
              {% for key,value in post.get_field('values') %}
                <div class='col-md-3'>
                    <div class="our-values_number">0{{key}}</div>
                    <div class="our-values_header">{{value.header}}</div>
                    <hr class="our-values_divider"></hr>
                    <div class="our-values_description">{{value.description}}</div>
                </div>
              {% endfor %}
          </div>
      </div>

      <!--Testimonials -->
      <div class="greyPanel testimonials">

        <img src="{{theme.uri}}/images/bullhorn.png" alt="icon">
        <h5 class="header">What people are saying about us</h5>

        <div class="container gutter-xxlg">
          <div id="testimonial-slider" class="flexslider">
            <!--    Controls slider       -->
              <nav>
              </nav>
              <ul class="slides">
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_1")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_1")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_1")}}
                    </div>
                      <hr class="testi-break">
                  </div>
                </li>
                {% if post.get_field('testimonial_2') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_2")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_2")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_2")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
               	{% if post.get_field('testimonial_3') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_3")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_3")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_3")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
               	{% if post.get_field('testimonial_4') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_4")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_4")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_4")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
               	{% if post.get_field('testimonial_5') %}
                <li class="testi">
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;{{post.get_field("testimonial_5")}}</p>
                  <div class="witness">
                    <div class="name">{{post.get_field("testimonial_author_5")}}</div>
                    <div class="info">{{post.get_field("testimonial_author_info_5")}}
                    </div>
                      <hr class="testi-break">
                    </div>
               	{% endif %}
                </li>
              </ul>
          </div>
        </div>
        <div class="inThePress">
        	<div class="container">
            <div class="row">

	        	  <h5 class="col-md-1 header">In the Press</h5>
              
              <div class="col-md-11">
                <div class="row">
	               {% set logosPress = post.get_field('logos_press') %}
                  {% for image in logosPress %}
                  {% set blocks = (12 / loop.length)|round(0, 'floor') %}
                    <div class="custom col-md-{{blocks}}"> 
                      <a href="{{image.alt}}" target="_blank">         
                        <img class="press-logo" src="{{TimberImage(image.id).get_src|resize(200)}}" alt="{{image.title}}">
                      </a>
                    </div>
                  {% endfor %}
                </div>
	           </div>

          </div>
        </div>        
      </div>

{% endblock %}