{% extends "base.twig" %}

{% block content %}
{% set bgImage = post.get_field('background_image_right_side') %}
	
	<div id="{{post.post_type}}" {% if bgImage %}style="background:url({{TimberImage(bgImage.url).src}}) no-repeat 95% top;">{% endif %}>
        <div class="container">
          <div class="row">
          			
          	<div class="{% if bgImage %}col-md-8{% else %}col-md-12{% endif %}">	

	          	{% if post.get_thumbnail %}
					<div id="featured-image">
						<img class="page-img" src="{{post.get_thumbnail.get_src|resize(400)}}" />
					</div>
				{% endif %}

				<h1>{{post.title}}</h1>

				{% if post.page_blocks %}
					{% for row in post.get_field('page_blocks') %}

						{% if row.acf_fc_layout == 'block_text' %}
							<div class="page-block text">
								{{ row.service_text }}
							</div>
						{% endif %}
						{% if row.acf_fc_layout == 'case_study' %}
							<div class="page-block case-study">
								<h2 class="case-header">{{ row.case_header }}</h2>
								<h3 class="case-title">{{ row.casestudy_title }}</h3>
								{{ row.casestudy_description }}
								{% if row.casestudy_link %}
									<a href="{{ row.casestudy_link }}" class="btn button case">{{ row.casestudy_link_title }}</a>
								{% endif %}
							</div>
						{% endif %}

						{% if row.acf_fc_layout == 'list_icons' %}
							<div class="page-block">
								
								{% for row_rep in row.row_icon_text %}
									 <div class="service-list">
						            	<div class="row">
								            <div class="col-sm-2">
								               <img class="img-responsive icon" src="{{TimberImage(row_rep.service_icon).src}}"/>
								            </div>
								            <div class="col-sm-10">
								            	<h5 class="service-title">{{ row_rep.service_title }}</h5>
							          			<p class="service-description">{{ row_rep.short_description }}
							          				{% if row_rep.service_link %}
							          					<a class="service-link" href="{{ row_rep.service_link }}">Read More</a>
							          				{% endif %}
							          			</p>
							          		</div> 
								          
							           </div>
							        </div>
								{% endfor %}

							</div>
						{% endif %}

					{% endfor %}
				{% else %}
					{{post.content}}
				{% endif %}

				{% if post.can_edit %}
				    <a href="{{post.get_edit_url}}">Edit me!</a>
				{% endif %}

          	</div>

        </div>
      </div>
	</div><!-- content -->

	{% if servicespages %}
		<div class="related-services">
			<div class="container">
				<h3 class="other-header">Other Services</h3>
				<ul class="other-services-list">
					{{ servicespages }}
				</ul>
			</div>
		</div>
	{% endif %}	

	{% include 'partials/bottom-page.twig' %}
	<!--   Clients logos pre Footer       -->

{% endblock %}